.header {
    padding: 30px 0;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    background-color: #92a1df;
    width: 100%;
    text-align: center;
    border-bottom: 5px solid #aea192;
    margin-bottom: 10px;
}